@import 'styles/variables.scss';


.sb-topnav{
    background: #fff;
    border-bottom: 1px solid #e5e9f2;
    .navbar-light #sidebarToggle{
        font-size: 1.4rem;
        color: #878787;
    }
}
 