@import 'styles/variables.scss';

.bg-primary{background-color: #4495E2!important;}
.bg-warning{background-color: #C08500!important;}
.bg-success{background-color: #6C9E10!important;}
.bg-danger{background-color: #1C2654!important;}
