<sb-layout-auth>
    <div class="login-page">
        <div class="login-box">
            <h1>To reset your password, enter your email address below and folow the incstuctions in the email we’ll send you.</h1>
 
        <div class="startearning-form text-left">
            <form [formGroup]="forgotForm">
                <div class="form-group">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input class="form-control" id="inputEmailAddress" type="email"
                        class="form-control" placeholder="Enter email address" formControlName="email" />
                </div>
                <div style="text-align: left;"
                    *ngIf="forgotForm.controls['email'].errors && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)">
                    <span class=" text-danger error" *ngIf="forgotForm.controls['email'].errors?.required">
                        * Email is required.
                    </span>
                    <span class="text-danger"
                *ngIf="forgotForm.controls['email'].hasError('pattern') && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)">Please
                enter valid email address</span>
                </div>
                <div class="form-button  mt-4 mb-0"><a class="btn btn-primary btn-block mb-2"  (click)="onSubmit()">Reset Password</a>
                    <a
                    class="small" routerLink="/auth/login">Return to login</a></div>
           
            </form>

            
          
        </div>
     
    </div>
    </div>


  
</sb-layout-auth>
 