@import 'styles/variables.scss';

.login-page{    height: 556px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center; padding: 0 15px;}
.login-box{  min-width: 430px;  max-width: 430px;
    margin: auto;
    text-align: center;}
.login-box h1{ 
    font-size: 16px;
    color: #1C2654;
    font-weight: 400;
    margin-bottom: 4px;}
.login-box .input-control { width: 100%; }


.startearning-form {
    margin: 30px 0;
}

.link {
    font-size: 14px; 
    color: #1C2654;
    margin-top: 30px;
}
 
.forgot-link {
    font-size: 14px; 
    color: #4495E2;
}

.form-button .btn {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding: 0.442rem 1.5rem;
}

.form-button {
    padding-top: 5px;
}

@media (max-width: 480px){
    .login-box{ min-width: 100%; max-width: 100%;}
}